---
const { pathname } = Astro.url;
const isHome = pathname === "/" || pathname === "/index.html";
---

<nav class="mb-12 mt-4">
  <div class="flex items-baseline justify-between border-b border-zinc-700 pb-1 mb-2">
    <h1 class="text-zinc-100 text-2xl font-bold">
      <a href="/" class="hover:text-pink-400 no-underline transition-colors">krr.cl</a>
    </h1>
    <div class="flex gap-4 text-sm font-bold uppercase tracking-widest">
        <a href="/zen" class="text-zinc-400 hover:text-pink-400 no-underline transition-colors">zen</a>
        <a href="https://status.krr.cl/status/krr-cl" class="text-zinc-400 hover:text-pink-400 no-underline transition-colors">status</a>
        <a href="#projects" class="text-zinc-400 hover:text-pink-400 no-underline transition-colors">Projects</a>
    </div>
  </div>
  {isHome && (
    <p class="text-zinc-400 italic text-sm sm:text-base">
      Hosting privacy, code, and infrastructure from Viña del Mar, Chile.
    </p>
  )}
</nav>
