<nav id="navbar_container">
    <h1><a href="/">krr</a></h1>
    <a href="/zen">zen</a>
</nav>
<style>
h1 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    margin: 0;
}

#navbar_container {
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", Nimbus Sans, Arial, sans-serif;

  margin: auto;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  /* padding-left: 3.5rem; */
  /* padding-right: 3.5rem; */

  gap: 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  max-width: 1280px;
  width: 100%;

}
a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bolder;
}
</style>
